/* style.css */

select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 490px;
}

select:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Option Styles */

option {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

option:hover {
    background-color: #f2f2f2;
}
/* Selected Option Styles */

option:checked {
    background-color: #ccc;
}

option:checked:hover {
    background-color: #aaa;
}
.login-container, .register-container {
    width: 470px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2, .register-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.login-container form, .register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label, .register-container label {
    margin-bottom: 4px;
}

.login-container input, .register-container input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button, .register-container button {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover, .register-container button:hover {
    background-color: #3e8e41;
}